.fullheightvideo {
  .logo {
    position: fixed;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    img {
      box-shadow: 2px 2px 10px;
    }
    transition: 0.5s;
    &.scroll {
      opacity: 0;
      visibility: hidden;
    }
  }
  .arrow {
    position: fixed;
    color: white;
    font-size: 1.8em;
    bottom: 0;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 2s ease-in-out infinite;
    transition: 0.5s;
    &.scroll {
      opacity: 0;
      visibility: hidden;
    }
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
