.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 10px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  z-index: 110;
  .logo {
    filter: brightness(10000%);
  }
  &.scroll {
    background-color: white;
    box-shadow: 0 0 10px;

    .logo {
      filter: brightness(100%);
    }
    .navigation {
      .menubutton {
        color: black;
      }
      nav {
        a {
          color: white;
        }
      }
    }
  }
  .navigation {
    .menubutton {
      color: white;
      cursor: pointer;
      font-size: 1.7em;
    }
    nav {
      display: flex;
      justify-content: right;
      gap: 10px 10px;
      display: none;
      &.show {
        display: flex;
        justify-content: center;
        z-index: 200;
        gap: 50px;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        left: 0;
        top: 0;
        opacity: 0.9;
        box-shadow: 4px 4px 10px;
        flex-direction: column;
      }
      &.transitionOn {
        transform-origin: top;
        animation: menuOn 0.5s ease 1;
      }
      &.transitionOff {
        transform-origin: top;
        animation: menuOff 0.5s ease 1;
      }
      a {
        padding: 10px;
        text-transform: uppercase;
        transition: 0.5s;
        color: white;
        z-index: 210;
        &:hover {
          color: green;
        }
      }
    }
  }
}

@keyframes menuOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@keyframes menuOff {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
