.footer {
  min-height: 100px;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  font-size: 0.9em;
  flex-wrap: wrap;
  gap: 10px 10px;
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
